<md-sidenav-layout class="dashboard-component">
  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <div class="nav-head">
      <div class="nav-pic-name-container">
        <span class="nav-pic" >
          F
        </span>
        <span class="nav-name" layout flex="33">
          Hi Felix!
        </span>
      </div>
      
      <div class="nav-email" layout flex="100">
        felix.soewito@gmail.com
      </div>
    </div>
    <div class="nav-body">Content</div>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Lixsu Angular App-{{currentTime}}

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content" layout layout-padding>

    <md-card>
      <md-card-subtitle>Subtitle first</md-card-subtitle>
      <md-card-title>Card with title</md-card-title>   
      <md-card-content>
          <p>Hello World</p>
          <p>Click counter : {{counter}}</p>
      </md-card-content>
      <md-card-actions>
          <button md-raised-button color="primary" (click)="sendMessage()">PRIMARY RAISED</button>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-subtitle>get details</md-card-subtitle>
      <md-card-title>Server Health</md-card-title>   
      <md-card-content>
          <p>{{health.statusCode}}</p>
          <p>{{health.statusMessage}}</p>
      </md-card-content>
      <md-card-actions>
          <button md-raised-button color="primary" (click)="getHealthStatus()">UPDATE HEALTH</button>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-subtitle>WebSocket as in HTML 5 API</md-card-subtitle>
      <md-card-title>Websocket Component</md-card-title>   
      <md-card-content>
          <web-socket-component></web-socket-component>
      </md-card-content>
      <md-card-actions>
          <button md-raised-button color="primary" (click)="getHealthStatus()">UPDATE HEALTH</button>
      </md-card-actions>
    </md-card>

  </div>

</md-sidenav-layout>