<md-sidenav-layout class="app-component">
  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <div class="nav-head" flex layout="row" layout-wrap>
      <div class="nav-pic" flex="66">
        P
      </div>
      <div class="nav-name" flex="33">
        Hi Felix!
      </div>
      <div class="nav-email" flex="100">
        felix.soewito@gmail.com
      </div>
    </div>
    <div class="nav-body">Content</div>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Angular Material2 Example App

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">

    <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button>RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>

  </div>

</md-sidenav-layout>

<span class="app-action">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>